.bottom-nav {
    display: flex;
    justify-content: space-around;
    
}

.bottom-nav a {
    text-decoration: none;
    color: black;
    padding: 1.3em;
    flex-grow: 1;
    text-align: center;
    border: 0.1em solid black;
}

.bottom-nav a.active {
    background-color: black;
    color: white;
}

.bottom-nav a:hover {
    background-color: lightgray;
}