body {
  margin: 0;
  background-color: black;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 430px;           
  height: 100vh;  
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
